HELP.md
.gradle
build/
bin/
tool/node_modules/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
/work/
/logs/
/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.checkstyle

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

src/test/java/com/binance/client/examples/constants/PrivateConfig.java
